DB_DRIVER="postgres" # mysql or postgres
# DB_DSN="username:password@tcp(host:port)/dbName?parseTime=true" ## MySql connection
DB_DSN="host=localhost user=user password=password dbname=dbName port=5432 sslmode=disable TimeZone=Asia/Jakarta" #PostgreSql connection
CRED_DB_DSN="host=localhost user=user password=password dbname=dbName port=5432 sslmode=disable TimeZone=Asia/Jakarta" #PostgreSql connection
OPENAI_API_KEY="secret"
OPENAI_URL="https://api.openai.com/v1/chat/completions"
OPENAI_MODEL="gpt-3.5-turbo"
SIGNATURE_KEY="secret"
JWT_SECRET="secret"
JWT_EXPIRY_TIME="1h" # 1m, 1h, 1d
BASE_URL="localhost:3000"